@media screen and (max-width:980px){
    #form{
        width: auto;
        float: none;
    }
}
body {
    margin : 0;
    padding : 0; 
    background-image:url(7.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    padding : 100px 350px; 
    background-size: cover;
    }
#form {
    text-align: center; 
    background-color: rgba(128, 0, 0, 0.507); 
    background-attachment: fixed;
    width: 700px; 
    height: 400px; 
    padding: 10px;
    }
#username, #pass, #mail{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aquamarine;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    }
#user, #password, #email{
    color: black;
    font-size: 30px;
    text-align: center;
    border: none;
}
h1 {
    color:white; 
    text-align: center;
    }
    input[type="submit"]{
    margin-top: 10px;
    width: 46%;
    border: 2px solid #5D5D61;
    background-color: white;
    color: black;
    height: 40px;
    font-size: 25px;
    }
    
    input[type="submit"]:hover{
        background-color: rgba(0, 0, 0, 0.726);
        color: lightblue;
        transition: 0.4s;
    }
    img{
        width: 200px;
        height: 200px;
        
    }